

main{
  font-family: 'Amethysta', serif;
  display:flex;
  flex-direction:column;
  font-size:62.5%;
}


header{
  background:rgb(138, 135, 135);
  padding:20px;
  text-align: left;

}

#topics-nav-bar ul{
  background:rgb(112, 87, 87);
  list-style: none;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2rem;
  margin: 0;
}

#topics-nav-bar ul li{
  margin: 0;
  height: 2rem;
  padding: 0.5rem 1rem 0.1rem 1rem;
  
}

#topics-nav-bar a {
  color: rgb(156, 148, 148);
  text-decoration: none;
}

#topics-nav-bar a:hover{
  background:rgb(138, 135, 135);
  color: rgb(39, 32, 32);
  text-decoration: none;
}


#middle-section section {
  background:rgb(211, 175, 175);
  font-size:1rem;
}

#middle-section{

  display:flex;
  flex-direction:row;

}

#left-nav-bar{
  flex:1;
  background:rgb(219, 216, 216);
  padding: 1rem;
}

#center-section{
  flex:2;
  padding: 1rem;
}

#right-nav-bar{
  flex:1;
  background:rgb(219, 216, 216);
  padding: 1rem;

}

#center-section ul{
  display: flex;
  flex-direction:column;
  list-style: none;
  padding: inherit;

}

#repo-items{
  background:rgb(121, 89, 107);
  color:rgb(190, 178, 178);
  border:1px solid;
  border-radius:5px;
  padding:10px;
  margin-bottom:10px;
  margin-left:0;
  display:flex;
  flex-direction:row;
  
}

@media (max-width:700px){
  #repo-items{  
    flex-wrap:wrap;
  }
}

#repo-list-items{
  flex:3;
  padding-left:10px;
}

#order-number{
  margin-bottom: 10px;
}
#repo-user-items{
  flex:1;

  
  
}

#repo-list-items-img{
  display:flex;
  flex-direction:column;
  align-content: flex-end;
  height:100%;
}

        #repo-list-items-img-list{
          flex:3;
          text-align:right;
          margin-top: 30px;
          margin-right:15px;
        }

        #repo-list-items-img-list > p {
          line-height:1rem;
          margin-top: 10px;
          font-size:  0.8rem;
        }

        #repo-img-figure{
          flex:1;
          text-align:right;
          margin: 10px;

        }

        #repo-img-caption{
            font-size:0.7rem;

        }

#repo-items img{
  
  width:30px;
  margin-bottom: 10px;
  
}

#repo-items li{
  margin-bottom: 10px;
}

#repo-items a:link{
  text-decoration: none;
  color:rgb(190, 160, 160);
  font-size: 0.9rem;
}

#repo-items a:visited{

  color:rgb(77, 26, 26);
}

#repo-items a:hover{
  text-decoration: none;
  color:rgb(31, 9, 9);
  font-size: 0.9rem;
}





#repo-list-items-name{
  font-size:1.2rem;
  color:rgb(102, 68, 68);
  background:rgb(211, 175, 175);
  padding-bottom: 15px;
  padding-top:10px;
  padding-left:10px;
  border-radius: 5px;
}


#dropdown-language{
  margin-bottom: 10px;
}