body {
  font: 100% Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #d3afaf;
}

.box {
  -webkit-transform: translateY(-1em);
  -ms-transform: translateY(-1em);
  transform: translateY(-1em);
}

#main #middle-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* This CSS will print because %message-shared is extended. */
.warning, .error, .success, .message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  border-color: green;
}

.error {
  border-color: red;
}

.warning {
  border-color: yellow;
}

#main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  background-image: url("../resources/Software-Development.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}
#main #back-image {
  width: 100%;
  height: auto;
  position: fixed;
  margin-left: 10px;
  z-index: -1;
  background-repeat: repeat-y;
}
#main header {
  background: rgba(199, 196, 196, 0.7);
  padding: 20px;
  text-align: left;
}
#main nav ul {
  background: rgba(112, 87, 87, 0.5);
  list-style: none;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2rem;
  margin: 0;
}
#main nav ul li {
  margin: 0;
  height: 2rem;
  padding: 0.5rem 1rem 0.1rem 1rem;
}
#main nav a {
  color: #333;
  text-decoration: none;
}
#main nav a:hover {
  background: rgba(112, 87, 87, 0.5);
  color: #dbd8d8;
  text-decoration: none;
}
#main #middle-section {
  background: radial-gradient(circle at 20% 0, rgba(143, 107, 107, 0.5), rgba(77, 37, 37, 0.5) 70.71%), radial-gradient(circle at 6.7% 75%, rgba(219, 213, 193, 0.5), rgba(191, 191, 223, 0.5) 70.71%), radial-gradient(circle at 93.3% 75%, rgba(182, 180, 202, 0.5), rgba(247, 242, 242, 0.5) 10.71%) rgba(233, 233, 206, 0.5);
  font-size: 1rem;
  color: #333;
}
#main #middle-section nav {
  flex: 1;
  width: 31.25%;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  background: rgba(219, 216, 216, 0.3);
  padding: 1rem;
}
#main #middle-section section {
  flex: 2;
  width: 62.5%;
  padding: 10px;
  margin: 0 10px;
}
#main #middle-section section ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  box-shadow: -10px 20px 10px 5px rgba(112, 87, 87, 0.5);
}
@media (max-width: 700px) {
  #main #middle-section section #repo-items {
    flex-wrap: wrap;
  }
}
#main #middle-section section #repo-items {
  background: rgba(211, 175, 175, 0.2);
  color: #333;
  border: 1px solid;
  border-color: #dbd8d8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  display: flex;
  flex-direction: row;
}
#main #middle-section section #repo-items img {
  width: 30px;
  margin-bottom: 10px;
}
#main #middle-section section #repo-items a:link {
  text-decoration: none;
  color: #705757;
  font-size: 0.9rem;
}
#main #middle-section section #repo-items a:visited {
  color: rgba(112, 87, 87, 0.5);
}
#main #middle-section section #repo-items a:hover {
  text-decoration: none;
  color: #1f0909;
}
#main #middle-section section #repo-items #repo-list-items {
  flex: 3;
  padding-left: 10px;
  max-width: 800px;
  line-height: 1.5;
}
#main #middle-section section #repo-items #repo-list-items #order-number {
  margin-bottom: 5px;
}
#main #middle-section section #repo-items #repo-list-items li {
  font-size: 0.9rem;
  margin-bottom: 5px;
  text-align: left;
}
#main #middle-section section #repo-items #repo-list-items #repo-list-items-name {
  font-size: 1.2rem;
  color: #664444;
  background: rgba(211, 175, 175, 0.2);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
#main #middle-section section #repo-items #repo-list-items #repo-list-items-description {
  text-align: left;
}
#main #middle-section section #repo-items #repo-list-items #repo-list-items-url {
  margin: 0;
  text-align: left;
}
#main #middle-section section #repo-items #repo-user-items {
  flex: 1;
}
#main #middle-section section #repo-items #repo-user-items #repo-list-items-img {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  height: 100%;
}
#main #middle-section section #repo-items #repo-user-items #repo-list-items-img #repo-list-items-img-list {
  flex: 3;
  text-align: right;
  margin-top: 0;
  margin-right: 15px;
}
#main #middle-section section #repo-items #repo-user-items #repo-list-items-img #repo-list-items-img-list p {
  line-height: 1rem;
  margin-top: 10px;
  font-size: 0.8rem;
}
#main #middle-section section #repo-items #repo-user-items #repo-list-items-img #repo-img-figure {
  flex: 1;
  text-align: right;
  margin: 10px;
}
#main #middle-section section #repo-items #repo-user-items #repo-list-items-img #repo-img-figure #repo-img-caption {
  font-size: 0.7rem;
}

.next {
  height: 0;
  width: auto;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  border-left-color: black;
}

footer {
  text-align: center;
  background: rgba(219, 216, 216, 0.3);
  color: #c7c4c4;
  box-shadow: -10px 20px 10px 5px rgba(112, 87, 87, 0.5);
  height: 100px;
  display: flex;
  justify-content: center;
}

footer h4 {
  margin-top: 40px;
  background: rgba(219, 216, 216, 0.3);
  padding: 15px;
  border-radius: 5px;
  text-shadow: 5px 5px 10px #333;
  height: 0;
  width: auto;
  border-color: transparent;
  border-style: solid;
  border-width: 30px;
  border-left-color: rgba(219, 216, 216, 0.3);
}

#dropdown-language {
  margin-bottom: 10px;
}

#right-nav-bar {
  display: block;
  padding-bottom: 5px;
  padding-top: 15px;
  font-size: 0.8rem;
}

#url-textarea {
  width: fit-content;
  height: 100px;
}

#filter-queries label {
  display: block;
  padding-bottom: 5px;
  padding-top: 15px;
  font-size: 0.8rem;
}

#left-nav-bar {
  display: block;
  padding-bottom: 5px;
  padding-top: 15px;
  font-size: 0.8rem;
}

ul:nth-child(3n+1) {
  background-color: rgba(231, 229, 229, 0.3);
}

ul:nth-child(3n+2) {
  background-color: rgba(243, 243, 243, 0.3);
}

.icon-40px {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.icon-50px {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.icon-80px {
  font-size: 80px;
  height: 80px;
  width: 80px;
}

button {
  display: block;
  position: relative;
  height: 1.2rem;
  border: 1px solid;
  border-color: #7d70c9;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 0.7rem;
}
button:hover {
  cursor: pointer;
  color: #3f0aa1;
  background: #b4ebb4;
}
button:disabled {
  cursor: default;
  pointer-events: none;
}

#label-keyword, #input-keyword {
  width: 100px;
}

#more-text-link {
  cursor: pointer;
}

/*# sourceMappingURL=mainOutput.css.map */
