


// _base.scss
@use 'base';
@use 'messages';

@mixin list {
  background: base.$topnavbar-color-transparent;
          list-style: none;
          font-size: 1rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          padding-right: 2rem;
          margin: 0;
}

@mixin horizontal-list {
  @include list;

  li {
    margin: 0;
    height: 2rem;
    padding: 0.5rem 1rem 0.1rem 1rem;
    
  }
}



//layout.js
#main {
  width: 100%;
  margin: 0 auto;
  display:flex;
  flex-direction:column;
  font-size:62.5%;
  background-image: url('../resources/Software-Development.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
  

  #back-image {
    width: 100%;
    height: auto;
    position: fixed;
    margin-left: 10px;
    z-index: -1;
    background-repeat: repeat-y;  
  
  }

  header{
    background: base.$header-gray-transparent;
    padding:20px;
    text-align: left;

  
  }

  nav{ 

        ul{@include horizontal-list;}
  
        a {         
          color:base.$primary-color;
          text-decoration: none;
        }
  
        a:hover{
          background:base.$topnavbar-color-transparent;
          color: base.$light-gray;
          text-decoration: none;
        }
    }

    //layout.js
    #middle-section {
      @extend %equal-heights;
      background:base.$stacked-radial; //base.$mid-section-color;
      font-size:1rem;
      color:base.$primary-color;
      
      
      
            nav{
              flex:1;
              width: 300px / 960px * 100%;
              margin:10px;
              background: base.$light-gray-transparent;
              padding: 1rem;
            }
            
            //layout.js
            section {
              flex:2;
              width: 600px / 960px * 100%;
              padding: 10px;
              margin:0 10px;

              

                      ul {
                        margin: 0;
                        padding: 10px;
                        list-style: none;
                        box-shadow: -10px 20px 10px 5px base.$topnavbar-color-transparent;

                      }
                    
                    
                    
                      @media (max-width:700px){
                        #repo-items{  
                          flex-wrap:wrap;
                        }
                      }

                      //data.jsx
                      #repo-items{
                        background: base.$mid-section-color-transparent;
                        color:base.$primary-color;
                        border:1px solid;
                        border-color: base.$light-gray;
                        border-radius:5px;
                        padding:10px;
                        margin-bottom:10px;
                        margin-left:0;
                        display:flex;
                        flex-direction:row;
                        
                        img{
  
                          width:30px;
                          margin-bottom: 10px;
                          
                        }

                        a:link{
                          text-decoration: none;
                          color:base.$topnavbar-color;
                          font-size: 0.9rem;
                        }
                        
                        a:visited{
                        
                          color:base.$topnavbar-color-transparent;
                        }
                        
                        a:hover{
                          text-decoration: none;
                          color:rgb(31, 9, 9);
                          
                        }

                        

                            #repo-list-items{
                              flex:3;
                              padding-left:10px;
                              max-width:800px;
                              line-height: 1.5;

                                    #order-number{
                                      margin-bottom: 5px;
                                    }

                                    li{
                                      font-size:0.9rem;
                                      margin-bottom: 5px;
                                      text-align: left;
                                    }

                                    #repo-list-items-name{
                                      font-size:1.2rem;
                                      color:base.$repo-items-color;
                                      background:base.$mid-section-color-transparent;
                                      padding: 10px;
                                      border-radius: 5px;
                                      width: 100%;
                                      text-align: center;
                                      margin-bottom: 15px;
                                    }

                                    #repo-list-items-description{
                                      text-align:left;
                                    }

                                    #repo-list-items-url{
                                      margin: 0;
                                      
                                      text-align:left;
                                    }
                                    
                                    
                            }
                      

                            #repo-user-items{
                              flex:1;


                                #repo-list-items-img{
                                  display:flex;
                                  flex-direction:column;
                                  align-content: flex-end;
                                  height:100%;

                                  #repo-list-items-img-list{
                                    flex:3;
                                    text-align:right;
                                    margin-top: 0;
                                    margin-right:15px;

                                    p {
                                      line-height:1rem;
                                      margin-top: 10px;
                                      font-size:  0.8rem;
                                    }
                          
                                  }

                                  #repo-img-figure{
                                    flex:1;
                                    text-align:right;
                                    margin: 10px;

                                    #repo-img-caption{
                                      font-size:0.7rem;
                          
                                  }
                          
                                  }
                                }
                                
                              
                            }
                      }
            }
    }
}


footer{
  text-align: center;
  background: base.$header-gray-transparent;
  color: base.$header-gray;
  box-shadow: -10px 20px 10px 5px base.$topnavbar-color-transparent;
  
}




#dropdown-language{
  margin-bottom: 10px;
}

@mixin side-labels(){
  display:block;
  padding-bottom: 5px;
  padding-top: 15px;
  font-size: 0.8rem;
}

#right-nav-bar{
  @include side-labels
}

#url-textarea{
  width:fit-content;
  height:100px;
}
#filter-queries label{
  @include side-labels

}

#left-nav-bar{
  @include side-labels
}

@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;

  border-color: transparent;
  border-style: solid;
  border-width: $size / 2;

  @if $direction == up {
    border-bottom-color: $color;
  } @else if $direction == right {
    border-left-color: $color;
  } @else if $direction == down {
    border-top-color: $color;
  } @else if $direction == left {
    border-right-color: $color;
  } @else {
    @error "Unknown direction #{$direction}.";
  }
}

.next {
  @include triangle(5px, black, right);
}


@for $i from 1 through 2 {
  ul:nth-child(3n + #{$i}) {
    background-color: lighten(base.$light-gray-transparent, $i * 5%);
  }
}

$sizes: 40px, 50px, 80px;

@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}

$button-height:1.2rem;
$button-ink-color:rgb(63, 10, 161);
@mixin button-base() {

  display: block;
  position: relative;
  height: $button-height;
  border: 1px solid;
  border-color: rgb(125, 112, 201);
  border-radius: 5px;;
  margin: 10px 0;
  font-size: 0.7rem;

  &:hover { 
    cursor: pointer; 
    color: $button-ink-color;

    background: rgb(180, 235, 180);

  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

button{
  @include button-base();
}

#label-keyword, #input-keyword{
  width:100px;
}